body {
    font-family: "Montserrat", sans-serif;
}

.main {
    display: flex;
    flex-direction: row-reverse;
}

.about {
    font-style: normal;
}

h1 {

}

.contact {

}

.education {

}

.work {
    
}

.aside-bar {
    background-color: #828FA9;
    color: ghostwhite;
}